@model ProjeCore.Models.Birim
@{
    ViewData["Title"] = "BringUnits";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<h2>Birim Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("#", "DepartmanlarController1", FormMethod.Post))
{
    <form class="form-group" method="post">
        @Html.Label("Birim ID:")
        @Html.TextBoxFor(x => x.BirimID, new { @class = "form-control" })
        <br />
        @Html.Label("Birim Ad:")
        @Html.TextBoxFor(x => x.BirimAd, new { @class = "form-control" })
        <br />
        <button class=" btn btn-success">Kaydet</button>

    </form>
}




