@using ProjeCore.Models
@model List<Birim>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />
<table class="table table-bordered">

    <tr>
        <th>BİRİM ID</th>
        <th>BİRİM AD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>

    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.BirimID</td>
            <td>@k.BirimAd</td>
            <td><a href="/Birim/DeleteUnits/@k.BirimID" class="btn btn-danger">SİL</a></td>
            <td><a href="/Birim/BringUnits/@k.BirimID" class="btn btn-warning">GÜNCELLE</a></td>
            <td><a href="/Birim/DetailUnits/@k.BirimID" class="btn btn-primary">DETAYLAR</a></td>


        </tr>
    }
</table>
<td><a href="/Birim/AddUnits/" class="btn btn-primary">BİRİM EKLE</a></td>



